<div class="regBackground">
    <h1 class="regHeader">Sign Up</h1>
    <div ng-controller="registerController as regCtrl">
        <div class="register-form">
            <form name="registerForm" ng-submit="regCtrl.register(registerForm.$valid)" novalidate>
                <!-- User Name -->
                <div class="form-group">
                    <label class="InputHeader">Username</label>
                    <input type="text"
                           ng-model="regCtrl.user.UserName"
                           ng-required="true"
                           class="form-control input"
                           name="usernameInput"
                           placeholder="Enter Username"
                           ng-minlength="5"
                            ng-maxlength="10">
                    <p ng-show="(registerForm.usernameInput.$pristine || registerForm.FirstNameInput.$touched) && registerForm.usernameInput.$error.required && registerForm.$submitted" class="help-block">Username is required</p>
                    <p ng-show="registerForm.usernameInput.$error.minlength" class="help-block"> Username must contain at least 5 characters</p>
                    <p ng-show="registerForm.usernameInput.$error.maxlength" class="help-block"> Username must contain at maximum of 10 characters</p>
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label class="InputHeader">Password</label>
                    <input type="password"
                           ng-model="regCtrl.user.Password"
                           ng-required="true"
                           class="form-control input"
                           name="passwordInput"
                           placeholder="Enter Password"
                           ng-minlength="3"
                            ng-maxlength="8">
                    <p ng-show="(registerForm.passwordInput.$pristine || registerForm.FirstNameInput.$touched) && registerForm.passwordInput.$error.required && registerForm.$submitted" class="help-block">Username is required</p>
                    <p ng-show="registerForm.passwordInput.$error.minlength" class="help-block"> Password must contain at least 3 characters</p>
                    <p ng-show="registerForm.passwordInput.$error.maxlength" class="help-block"> Password must contain at maximum of 8 characters</p>
                </div>
                <!-- First Name -->
                <div class="form-group">
                    <label class="InputHeader">First Name</label>
                    <input type="text"
                           ng-model="regCtrl.user.FirstName"
                           class="form-control input"
                           name="FirstNameInput"
                           placeholder="Enter Your First Name"
                           ng-required="true"
                           ng-maxlength="200">
                    <p ng-show="(registerForm.FirstNameInput.$pristine || registerForm.FirstNameInput.$touched) && registerForm.FirstNameInput.$error.required && registerForm.$submitted" class="help-block">First name is required</p>
                    <p ng-show="registerForm.FirstNameInput.$error.maxlength" class="help-block">First name is too long</p>
                </div>
                <!-- Last Name -->
                <div class="form-group">
                    <label class="InputHeader">Last Name</label>
                    <input type="text"
                           ng-model="regCtrl.user.LastName"
                           class="form-control input"
                           name="lastNameInput"
                           placeholder="Enter Your Last Name"
                           ng-required="true"
                           ng-maxlength="200">
                    <p ng-show="(registerForm.lastNameInput.$pristine|| registerForm.FirstNameInput.$touched) && registerForm.lastNameInput.$error.required && registerForm.$submitted" class="help-block">Last name is required</p>
                    <p ng-show="registerForm.lastNameInput.$error.maxlength" class="help-block">Last name is too long</p>
                </div>
                <!-- Address -->
                <div class="form-group">
                    <label class="InputHeader">Address</label>
                    <input type="text"
                           ng-model="regCtrl.user.Address"
                           class="form-control input"
                           name="AddressInput"
                           placeholder="Enter Address"
                           ng-maxlength="200">
                    <p ng-show="registerForm.AddressInput.$error.maxlength" class="help-block">Address description is too long</p>
                </div>
                <br>
                <!-- City -->
                <div class="form-group">
                    <label class="InputHeader">City</label>
                    <input type="text"
                           ng-model="regCtrl.user.City"
                           class="form-control input"
                           name="CityInput"
                           placeholder="Enter City"
                           ng-maxlength="200">
                    <p ng-show="registerForm.CityInput.$error.maxlength" class="help-block">City description is too long</p>
                </div>
                <br>
                <!-- Country -->
                <div class="form-group">
                    <label class="InputHeader">Country</label>
                    <input type="text"
                           ng-model="regCtrl.user.Country"
                           class="form-control input"
                           name="CountryInput"
                           placeholder="Enter Country"
                           ng-maxlength="200">
                    <p ng-show="registerForm.CountryInput.$error.maxlength" class="help-block">Country description is too long</p>
                </div>
                <br>
                <!-- Phone -->
                <div class="form-group">
                    <label class="InputHeader">Phone number</label>
                    <input type="text"
                           ng-model="regCtrl.user.Phone"
                           class="form-control input"
                           name="PhoneInput"
                           placeholder="Enter Phone number"
                           ng-maxlength="15">
                    <p ng-show="registerForm.PhoneInput.$error.maxlength" class="help-block">Phone number is too long</p>
                </div>
                <br>
                <!-- Mail -->
                <div class="form-group">
                    <label class="InputHeader">E-Mail</label>
                    <input type="text"
                           ng-model="regCtrl.user.Mail"
                           class="form-control input"
                           name="MailInput"
                           placeholder="Enter Mail address"
                           ng-maxlength="200">
                    <p ng-show="registerForm.MailInput.$error.maxlength" class="help-block">Mail address is too long</p>
                </div>
                <br>
                <!-- Credit Card number -->
                <div class="form-group">
                    <label class="InputHeader">Credit Card number</label>
                    <input type="text"
                           ng-model="regCtrl.user.CreditCardNumber"
                           class="form-control input"
                           name="cardInput"
                           placeholder="Enter Credit Card Number"
                           ng-maxlength="16">
                    <p ng-show="registerForm.cardInput.$error.maxlength" class="help-block">Credit Card number is too long</p>
                </div>
                <br>
                <!-- Question1 -->
                <div class="form-group">
                    <label class="InputHeader">Restore password first question</label>
                    <input type="text"
                           ng-model="regCtrl.user.Question1"
                           class="form-control input"
                           name="q1Input"
                           placeholder="Enter Question"
                           ng-maxlength="200">
                    <p ng-show="registerForm.q1Input.$error.maxlength" class="help-block">Question is too long</p>
                </div>
                <br>
                <!-- Answer1 -->
                <div class="form-group">
                    <label class="InputHeader">Answer</label>
                    <input type="text"
                           ng-model="regCtrl.user.Answer1"
                           class="form-control input"
                           name="ans1Input"
                           placeholder="Enter Answer"
                           ng-maxlength="200">
                    <p ng-show="registerForm.ans1Input.$error.maxlength" class="help-block">Answer description is too long</p>
                </div>
                <br>
                <!-- Question2 -->
                <div class="form-group">
                    <label class="InputHeader">Restore password second question</label>
                    <input type="text"
                           ng-model="regCtrl.user.Question2"
                           class="form-control input"
                           name="q2Input"
                           placeholder="Enter Question"
                           ng-maxlength="200">
                    <p ng-show="registerForm.q2Input.$error.maxlength" class="help-block">Question is too long</p>
                </div>
                <br>
                <!-- Answer2 -->
                <div class="form-group">
                    <label class="InputHeader">Answer</label>
                    <input type="text"
                           ng-model="regCtrl.user.Answer2"
                           class="form-control input"
                           name="ans2Input"
                           placeholder="Enter Answer"
                           ng-maxlength="200">
                    <p ng-show="registerForm.ans2Input.$error.maxlength" class="help-block">Answer description is too long</p>
                </div>
                <br>
                <!-- Category1 -->
                <div class="form-group">
                    <label class="InputHeader">Favorite category #1</label>
                    <select ng-model="regCtrl.user.Category1" ng-options="category.CategoryID as category.CategoryName for category in regCtrl.categories | orderBy:'CategoryName'"
                        class="form-control input"
                        name="c1Input"
                        placeholder="Choose a category you like"
                        ng-required="true">{{category.CategoryName | json}}
                    </select>
                    <p ng-show="(registerForm.c1Input.$pristine|| registerForm.c1Input.$touched) && registerForm.c1Input.$error.required && registerForm.$submitted" class="help-block">Category required</p>
                </div>
                <br>
                <!-- Category2 -->
                <div class="form-group">
                    <label class="InputHeader">Favorite category #2</label>
                    <select ng-model="regCtrl.user.Category2" ng-options="category.CategoryID as category.CategoryName for category in regCtrl.categories | orderBy:'CategoryName'"
                            class="form-control input"
                            name="c2Input"
                            placeholder="Choose a category you like"
                            ng-required="true">{{category.CategoryName | json}}
                    </select>
                    <p ng-show="(registerForm.c2Input.$pristine|| registerForm.c2Input.$touched) && registerForm.c2Input.$error.required && registerForm.$submitted" class="help-block">Category required</p>
                </div>
                <br>
                <!-- Category3 -->
                <div class="form-group">
                    <label class="InputHeader">Favorite category #3</label>
                    <select ng-model="regCtrl.user.Category3" ng-options="category.CategoryID as category.CategoryName for category in regCtrl.categories | orderBy:'CategoryName'"
                            class="form-control input"
                            name="c3Input"
                            placeholder="Choose a category you like"
                            ng-required="true">{{category.CategoryName | json}}
                    </select>
                    <p ng-show="(registerForm.c3Input.$pristine|| registerForm.c3Input.$touched) && registerForm.c3Input.$error.required && registerForm.$submitted" class="help-block">Category required</p>
                </div>
                <br>
                <!-- Submit -->
                <input type="submit"
                       class="btn btn-success btn-lg submit"
                       value="Submit"
                      >
            </form>
            <div>
                {{regCtrl.errorMessage}}
            </div>
        </div>

    </div>
</div>