<div ng-controller="cartController as crtCtrl">
<h1 class="header">My Cart</h1>
    <div class="shop">
    <span ng-show="crtCtrl.cart.length" ng-repeat="p in crtCtrl.cart" class="product_description" style="height:22em">
        <img ng-src="{{p.ImagePath}}" class="img_product"/>
        <div class="description">
            <label class="price"> {{p.price}} $ </label>
            </br>
            <button class="addToCart_button" ng-click="crtCtrl.open(p)" >full details</button>
            </div >
        <br/>
            <input type="number" ng-model="p.Amount" ng-change="crtCtrl.CakeAmount(p)" min="1">
            <div class="">
                <button  class="addToCart_btn" ng-click="crtCtrl.remove(p)" style="margin-left: 4em;">Remove from cart</button>
            </div>
    <br/>
    </span>
          <div ng-hide="crtCtrl.cart.length">
            <br>
            <br>
            <label class="amount"> Your Cart is empty</label>
            <br>
            <br>
        </div>
    </div>
    <br/><br/><br/><br/>
    <label class="amount">Total amount: {{ crtCtrl.getTotal() | currency}}</label>
    <br/>
<button class="pay_button" ng-click="crtCtrl.pay()">Pay</button>
</div>
