

<div id="main" ng-controller="cakesController  as cakeCtrl">
    <div class="category" >
        <div style="height: 5em">
            <img src="assets\images\littlest-cake-shop-logo.gif" class="logo2" alt="logo">
        </div>
        <div ng-repeat="category in cakeCtrl.categories">
           <button ng-click="cakeCtrl.selectCategory(category.CategotyName)" class="category_button">{{category.CategotyName}}</button>
        </div>
        <button ng-click="cakeCtrl.selectAll()" ng-hide="cakeCtrl.showAll" class="category_button">All Cakes</button>
    </div>
    <div class="shop">
        <div style="height: 6.8em">
            <select class = "selectSort" ng-model="cakeCtrl.orderBy"
                    ng-options="c as c.name for c in cakeCtrl.sortedOptions"></select>
            <label class="sortBy">Sort By:</label>
            <input class="selectSort" type="text" ng-model="cakeCtrl.filterBy">
            <label class="sortBy">Search</label>
            <label class="header_content">• • {{cakeCtrl.categoryHeader}} • •</label>
        </div>
        <div ng-repeat="p in cakeCtrl.cakes | filter : cakeCtrl.filterBy|
                        orderBy:cakeCtrl.orderBy.label:cakeCtrl.orderBy.reverse" class="product_description" >
            <img ng-src="{{p.ImagePath}}" class="img_product"/>
            <div class="description">
                <label class="price"> {{p.price}} $ </label>
                <label class="header_description"> {{p.CakeName}}</label>
                </br>
                <label class="content_description">{{p.Description}}</label>
            </div >
            <div class="">
                <button class="addToCart_btn" ng-click="cakeCtrl.addToCart(p)">add to cart</button>
            </div>
        </div>
    </div>
    <div class="recommended"  >
        <div ng-hide="$root.guest">
            <h1 class="recHeader">Recommended <br> for &nbsp; you</h1>
            <span ng-repeat="p in $root.recommendedCakes" class="container" >
                <img ng-src="{{p.ImagePath}}" class="imgTop5 image" style="margin-left: 3.05em"/>
                <div class="middle" style="z-index: 1">
                     <div class="text">
                        <h1 class="headerText"> {{p.CakeName}}</h1>
                                                {{p.Description}}
                        <br>
                        <h1 class="headerText"> {{p.price}} $ </h1>
                         <button class="addToCart_button" ng-click="cakeCtrl.addToCart(p)">add to cart</button>
                     </div>
                </div>
             </span>
        </div>
        <div  ng-show="$root.guest">
            <label class="recommended_text"> Please login to see the Recommended Cakes for you</label>
            <img class="rcmnd_gif" src="assets\images\lovely.gif" />
        </div>
    </div>
</div>
