body{
    background-image:url('../images/homeBckgrd.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.logo {
    position: inherit;
    left : 50%;
    display: block;
    margin: auto;
    width: 10em;
}

.menu {
    list-style-type: none;
    letter-spacing:4px;
    text-align: center;
    display: inline-flex;
    width: 50em;
    left: 10em;
    margin: 1em 17em 0 17em;
}

.li {
    padding: 0;
    float: left;
    list-style: none;
    font-size: 1.2em;
    height: 40px;
    text-align: center;
    background-color: #ffffff !important;
    margin-left: 3%;
    margin-bottom: 2%;
    width: 25%;
    border: 2px solid #afe2e6;

}

.btn_menu {
    outline:none;
    border:none;
    width:auto;
    display: block;
    color: #f5abb4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: .3s background-color;

}
.btn_menu:hover{
    background-color: #faf3f8;
}

.header{
    font-family: 'Acme', sans-serif;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 50px;
    color: #fff8fd;
    text-align: center;
    text-shadow: rgb(212, 204, 204) 4px 4px 1px;
    margin-top: 2%;
}


.imgTop5{
    width: 9em;
    height: 9em;
    border: 0.5em solid white;
    margin-right: 0.05em;
    margin-left:0.05em;
    border-radius: 0.2em;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.top5{
    margin-left: 13em;
    margin-right: 13em;
    margin-top: 1em;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 4%;
    background-color: rgba(173, 221, 226, 0.78);
    border-radius: 7%;
    border: 5px solid white;
    align-items: center;
}

.container {
    position: relative;
    width: 70%;
}
footer {
    background-color: rgb(241, 237, 237);
    font-family: Courgette, sans-serif;
    font-size: 18px;
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 3em;
    border: 1px solid #fff8fd;
    border-radius: 7pt;
    text-align: center;
    margin-top: 10%;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .imgTop5 {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #fdf1d9;
    color: #101010;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
}

.headerText{
    font-size: 18px;
    font-weight: bold;
}

.welcomeUser{
    display: block;
    margin: 0;
    font-size: 1em;
    font-family: 'Acme', sans-serif;
    text-align: center;
    position: static;
}