.regBackground{
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 3em;
    padding-top: 1em;
    padding-bottom: 4em;
    background-color: rgba(173, 221, 226, 0.78);
    border-radius: 7em;
    border: 5px solid white;
}

.regTable{
    overflow-x:auto;
}

.regHeader{
    font-family: 'Acme', sans-serif;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 50px;
    color: #fff8fd;
    text-align: center;
    text-shadow: rgb(212, 204, 204) 4px 4px 1px;
    margin-top: 2%;
}

.input{
    outline: none;
    color: black;
    padding: 0.5em 1em;
    border: none;
    border-radius: 2%;
    width: 15em;
    font-family: 'Lato', sans-serif;
}
.help-block{
    display: inline-block;
}

.InputHeader {
    font-size: 20px;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 1%;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-family:'Courgette', cursive;
}

.InputHeader2 {
    font-size: 20px;
    padding-bottom: 2%;
    padding-top: 1%;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-family:'Courgette', cursive;
}

.submit{
    padding: 10px 40px;
    margin: 4px 0px 10px 1px;
    color: #ffffff;
    background: #ffbde6;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    border-radius: 2%;
    font-family: 'Shrikhand', cursive;
}

td {
    text-align: left;
    width: 8em;
}